*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: lightgreen;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

.left{
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-screen{
    background-color: white;
    border: 3px solid black;
    border-radius: 5%;
    width: 10vw;
    text-align: center;
    padding: 2%;
    color: green;
    font-weight: bold;
}

.game {
    grid-area: 1/2/2/3;
    background-color: black;
    margin: 0 auto 0 auto;
    display: grid;
    height: 100vh;
    width: 100vh;
}

.tile{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    transition: all 20ms linear;

}

.snake{
    background: green;
    transition: all 20ms linear;
}

.apple{
    background-color: red;
}

.bonus{
    background-color: #FFBF00;
}

.start-screen, .end-screen{
    grid-area: 1/2/2/3;
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
    margin: auto;
    padding: 3%;
    width: 20vw;
    text-align: center;
    color: green;
}

.end-screen p{
    font-weight: bold;
}

.hide{
    display: none;
}

button{
    margin-top: 2%;
    padding:0.5em;
    background: green;
    color: white;
    border: 2px solid lightgreen;
    border-radius: 5px;
    box-shadow: 2px 3px gray;
}

button:hover{
    background-color: greenyellow;
}

button:active{
    background-color: lightgreen;
}

.right{
    grid-area: 1/3/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.points-div{
    background-color: white;
    border: 3px solid black;
    border-radius: 5%;
    width: 10vw;
    text-align: center;
    padding: 2%;
    color: green;
    font-weight: bold;
}

.points-div p{
    font-size: 2em;
}

.top-10-total{
    margin: 2% auto 5% auto;
    padding: 5%;
    border: 2px solid black;
    border-radius: 2%;
    text-align: center;
    width: 80%;
}

.top-10 table{
    margin: auto;
}

.top-10 table{
    border-collapse: collapse;
}

.td-name{
    padding: 2px 20px 2px 5px;
}

.td-points{
    padding: 2px 5px 2px 20px;
}

.highlight td{
    background-color: green;
    color: white;
}

.add-score{
    margin: 0 auto 5% auto;
    border: 2px solid black;
    border-radius: 2%;
    width: 80%;
    padding: 5%;
}

.add-score h3{
    margin-bottom: 2%;
}